*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url("Background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.formBox{
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 50px 60px 70px;
    text-align: center;

}

.formBox h1{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 60px;
    color: #ff8282;
    position: relative;
}

.formBox h1::after{
    content: '';
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #ff8282;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.inputfield{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 18px 15px;
}

.inputfield i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: center;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #ff8282;
}

.buttonField{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonField button{
    flex-basis: 50%;
    background: #ff8282;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 1s;
}
.buttonField button:hover{
    background: #ff0000;
}

.inputBoxes{
    height: 280px;
}